<!DOCTYPE html>
<html>
	<head>
		<title>ECharts Demos</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>

	<body>
		<nav>
			<h1>E-Charts Demos</h1>
			<div class="menu">
				<a href="/equacoes">Equações</a>
				<a href="/circulo">Círculo</a>
				<a href="/pi">PI</a>
				<a href="/area">Área</a>
				<a href="/barras">Barras</a>
				<a href="/horizontal">Horizontal</a>
				<a href="/pizza">Pizza</a>
				<a href="/donout">Donout</a>
				<a href="/medidor">Medidor</a>
				<a href="/dispersao">Dispersão</a>
				<a href="/radar">Radar</a>
				<a href="/velas">Velas</a>
			</div>
		</nav>

		<div id="chart"></div>

		<script src="/libs/echarts.min.js"></script>
		<script src="/javascripts/<%= chart %>.js"></script>
	</body>
</html>
